<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="main_student" class="com.tasmia.beans.Student">
		<property name="name" value="Touhidul Islam" />
		<property name="roll" value="30" />
		<property name="marks" value="163.5f" />
	</bean>
	<bean id="main_student_2" class="com.tasmia.beans.Student">
		<property name="name" value="Sharmin Muta" />
		<property name="roll" value="40" />
		<property name="marks" value="123.5f" />
	</bean>


</beans>