<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="main_student" class="pb.enc.studenthome.Student">
        <property name="name" value="Touhidul Islam" />
        <property name="roll" value="30" />
        <property name="email" value="touhidul@mail.com" />
    </bean>
    
    <bean id="main_student_2" class="pb.enc.studenthome.Student">
        <property name="name" value="Touhidul Islam 2" />
        <property name="roll" value="32" />
        <property name="email" value="touhidul2@mail.com" />
    </bean>
    
</beans>