<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- -->
    <bean class="com.ts.beans.Address" id="address">
        <property name="houseno" value="116" />
        <property name="city" value="Pabna" />
        <property name="pincode" value="6650" />
    </bean>
    
    <bean class="com.ts.beans.Address" id="address1" autowire-candidate="false">
        <property name="houseno" value="116" />
        <property name="city" value="Dhaka" />
        <property name="pincode" value="6650" />
    </bean>
     <!-- 
    <bean class="com.ts.beans.Student" id="student" autowire="byName">
        <property name="name" value="Touhidul Islam" />
        <property name="roll" value="30" />
        
    </bean>
    -->
    <!-- 
    <bean class="com.ts.beans.Student" id="student" autowire="byType">
        <property name="name" value="Touhidul Islam" />
        <property name="roll" value="30" />
        
    </bean>
    -->
     <bean class="com.ts.beans.Student" id="student" autowire="byType">
        <property name="name" value="Touhidul Islam"  />
        <property name="roll" value="30" />
        
    </bean>
    
    
</beans>